/* styling the card */
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.app h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}
.cardsHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 40px;
  gap: 50px;
  min-height: 55vh;
}
.card {
  display: flex;
  align-items: center;
  width: 90%;
  box-shadow: 7px 8px 18px 6px #a1a1a1;
  border-radius: 3px;
}
.card .userImgHolder {
  display: flex;
  align-items: center;
}
.card .userDetailsHolder {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px 0px;
  margin-left: 20px;
}
.card .userImgHolder .userImg {
  object-fit: cover;
  max-width: 200px;
  height: auto;
  width: 100%;
}

.card .userDetailsHolder p {
  padding: 10px;
}
.card .userDetailsHolder h4 {
  color: #727171;
}
.card .moreDetailsHolder {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.card .moreDetailsHolder span {
  display: flex;
  align-items: center;
}

.LoadBtn {
  padding: 10px 40px;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 550;
}
