/* styling the card */
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.app h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}
.cardsHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 40px;
  gap: 50px;
  min-height: 55vh;
}
.card {
  display: flex;
  align-items: center;
  width: 90%;
  box-shadow: 7px 8px 18px 6px #a1a1a1;
  border-radius: 3px;
}
.card .userImgHolder {
  display: flex;
  align-items: center;
  border-right: 0.2px solid #a1a1a1;
}
.card .userDetailsHolder {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px 0px;
  margin-left: 10px;
}
.card .userImgHolder .userImg {
  object-fit: cover;
  max-width: 200px;
  height: auto;
  width: 100%;
}

.card .userDetailsHolder p {
  padding: 10px;
}
.card .userDetailsHolder h4 {
  color: #727171;
}
.card .moreDetailsHolder {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.card .moreDetailsHolder span {
  display: flex;
  align-items: center;
}

.LoadBtn {
  padding: 10px 40px;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 550;
}
.LoadBtn:hover {
  opacity: 0.8;
}
.moreDetailsHolder .stars svg {
  color: #d5ab55;
  font-size: 20px;
}

.moreDetailsHolder .issues svg {
  color: red;
  margin: 0 3px;
}

@media (max-width: 488px) {
  .card .userDetailsHolder {
    margin-left: 5px;
  }
  .card .userImgHolder .userImg {
    height: 200px;
  }
}

@media (max-width: 417px) {
  .card .userImgHolder .userImg {
    max-width: 100%;
    height: auto;
  }
  .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 221px) {
  .app h1 {
    font-size: 20px;
  }
  .card {
    width: 80%;
  }
  .moreDetailsHolder span.time {
    display: none;
  }
  .moreDetailsHolder {
    align-items: center;
    justify-content: center;
  }
}
